h1{
  font-size: 2rem;
}
button{
  font-size: 1rem;
}
h3{
  font-size: 1.5rem;
  text-align: center;
}
h2{
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}
.well{
  text-align: center;
}
body{
  margin-top: 20px;
  background-color: turquoise;
}